@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-horizontal {
  animation: scroll-horizontal 20s linear infinite;
}

.scroll-horizontal:hover {
  animation-play-state: paused;
}
@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-horizontal {
  animation: scroll-horizontal 20s linear infinite;
}
